
@model IList<IList<string>>

@{
    ViewData["Title"] = "Photos";
}


<h1>Photo Gallery</h1>

<div class="row">

    @foreach (var item in Model)
    {
    <div class="column">

        @foreach(var path in item)
        {
        <a href=@Html.Raw(path) class="link">

            <img src=@Html.Raw(path) alt="Uploaded Photo" style="width:100%" />
        </a>

        }
    </div>
    }
</div>


