
@{
    ViewData["Title"] = "Upload Success";
}



<div style="color:orangered">
    <h2>
        Photo/s are available in Photo Gallery
    </h2>


    <h5>
        @Html.ActionLink("Upload another photo", "Upload", "Photo")
    </h5>
</div>

