
@{
    ViewData["Title"] = "RsvpError";
}

<h2>RSVP Error</h2>

RSVP was not recorded. An attendee name and selection of either attending or not_attending are required in order for RSVP to be recorded.

<br />
@Html.ActionLink("Please try again", "Index", "RoleCalls")