@{
    ViewData["Title"] = "Reception Location";
}

<h2>@ViewData["Title"]</h2>

<div style="float:left">
    <address>
        <strong>Address:</strong> Dylan Hotel, Eastmoreland Ln, Dublin 4<br />
        <strong>Phone:</strong> (01) 660 3000<br />
        <strong>Email:</strong> <a href="mailto:JUSTASK@DYLAN.IE">justask@dylan.ie</a><br />
        <strong>Website</strong> <a href="https://www.dylan.ie/">dylan.ie</a><br />
    </address>
</div>
<div style="float:right">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2447.6271529994256!2d-6.2442871689377215!3d53.33374994969081!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670ebe5b04c593%3A0xcfbb5b12152f162e!2sDylan+Hotel+Dublin!5e0!3m2!1sen!2sie!4v1514928520824" width="600" height="450" frameborder="0" style="border:0" allowfullscreen ></iframe>
</div>




